/*global start*/
@import 'mixins';
@import 'variables';
@import 'typography';


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 1.6rem;
    background: $clr-creme;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

a:focus {
    color: inherit;
}

html {
    font-size: 62.5%;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
}

/*global end*/

/*header start*/
header.site-header {
    background: $clr-black;
    font-size: 18px;
    padding: 14px 0;
    font-weight: 700;
    text-transform: capitalize;
    color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    width: 100%;
    transition: .3s;
}

header.site-header.sticky {
    background: $clr-black;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    padding: 10px 0;
    position: fixed;
}

.site-header .site-nav ul li a.active {
    color: $clr-mustard;
}

.site-logo img {
    width: 100%;
    max-width: 300px;
}

.site-nav a {
    padding: 8px 23px !important;
    display: inline-block;
    font-weight: 500;
    color: $clr-white;

    &:hover {
        color: $clr-mustard;
    }
}


.site-header {
    padding: 10px 0;
}

.site-header .container {
    display: flex;
    justify-content: start;
    align-items: center;
}

.headerflex {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 70px;
}

nav.site-nav {
    max-width: 100%;
    margin: 0 auto;
}

.site-nav ul {
    display: flex;
    align-items: center;
}

.closed-menu {
    display: none;
}

.menu-toggle {
    display: none !important;
}



/*header end*/


/*footer-css-start*/

.footer {
    background: url(../images/footerbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 2;
    padding: 100px 0;

    &::after {
        position: absolute;
        inset: 0;
        background: rgb(0 0 0 / 84%);
        content: '';
        z-index: -1;
    }

    &-logo {
        img {
            max-width: 300px;
        }
    }

    &-links {
        h3 {
            color: $clr-mustard;
            font-size: 25px;
        }

        li {
            margin: 8px 0;
        }

        a {
            color: $clr-white;

            &:hover {
                color: $clr-mustard;
            }
        }
    }

    &-adresse {

        h3 {
            color: $clr-mustard;
            font-size: 25px;
        }

        p {
            color: $clr-mustard;
        }
    }

    &-mails {

        a,
        i {
            color: $clr-white;

            &:hover {
                color: $clr-mustard;
            }
        }

    }
}

.social-signals {
    padding: 25px 0;
    cursor: pointer;

    i {
        color: $clr-white;
        font-size: 24px;
        text-align: center;
        line-height: 40px;
        margin: 0 10px;
        border: 1px solid $clr-white;
        border-radius: 30px;
        height: 40px;
        width: 40px;
        transition: .3s linear;

        &:hover {
            transform: translateY(-10px);
            color: $clr-mustard;
        }
    }
}

/*footer-css-end*/

/*cookie start*/
.cookie-alert {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    margin: 0 !important;
    z-index: 999;
    opacity: 0;
    transform: translateY(100%);
    transition: all 500ms ease-out;
    left: 0;
}

.cookie-alert.show {
    opacity: 1;
    transform: translateY(0%);
    transition-delay: 1000ms;
}

.card-body p {
    color: $clr-black;
    font-family: 'Lora';
    line-height: 27px;
}

a.btn.btn-primary.accept-cookies {
    padding: 6px 22px;
    font-size: 20px;
    border: 2px solid $clr-mustard;
    background-color: $clr-mustard;
    font-family: 'Playfair Display';

    &:hover {
        background-color: transparent;
        border: 2px solid $clr-mustard;
        color: $clr-black;
    }
}

.contact {
    &text {
        h2 {
            text-align: left;
            color: $clr-mustard;
            padding: 0 !important;

        }

        p {
            color: $clr-black;
        }
    }

    &flex {
        padding: 25px 0;
        display: flex;
        gap: 25px;
        align-items: flex-start;

        img {
            max-width: 50px;
            height: 50px;
            object-fit: cover;
        }
    }
}

.about_us_content {
    background: $clr-creme;
    padding: 0 20px;
}

.about_us_content .form-group {
    margin-bottom: 6px;
}

.about_us_content h2 {
    color: $clr-mustard;
    padding-bottom: 0;
}

.about_us_content .input-control {
    display: block;
    width: 100%;
    height: 4rem;
    border: 1px solid $clr-white;
    padding: 2rem 2rem;
    background: white;
    color: $clr-black;
}

.about_us_content .input-control:focus-visible {
    outline: none;
}

.about_us_content textarea.input-control {
    resize: none;
    height: auto;
}

.about_us_content .form-group .submit-btn {
    border-radius: 3px;
    display: inline-block;
    padding: 10px 25px;
    border: 2px solid $clr-mustard;
    background-color: $clr-mustard;
    font-weight: 600;
    color: $clr-white;
    margin: 20px 0;
    font-family: "Playfair Display";

    &:hover {
        background-color: transparent;
        color: $clr-black;
    }
}

.about_us_content .form-group label {
    display: inline-block;
    padding-bottom: 5px;
    color: $clr-black;
    transition: all 0.2s linear;
    text-transform: capitalize;
    font-size: 18px;
    font-family: 'Lora';

}

.contactmain {
    padding: 50px 0;
}

/*cookie end*/

/*privacy-policy start*/
.privacy__section.banner {
    background-image: url(../images/privacybanner.webp);
    margin-top: 0;
    isolation: isolate;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
    text-align: center;

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.55);
        z-index: -1;
        height: 450px;
    }
}

.privacy-policy {
    padding: 40px 0;

    .content-wrap {
        li {
            font-size: 16px;
            font-family: 'Playfair Display';
            position: relative;

            &::before {
                content: "";
                position: absolute;
                height: 5px;
                background: $clr-mustard;
                width: 5px;
                border-radius: 30px;
                left: -10px;
                top: 8px;
            }
        }


        h3 {
            color: $clr-mustard;
        }

        p {
            color: $clr-black;
            font-size: 16px;
            line-height: 25px;
        }
    }
}

.terms {
    padding: 40px 0;

    .content-wrap {
        li {
            font-size: 16px;
            font-family: 'Playfair Display';
            position: relative;

            &::before {
                content: "";
                position: absolute;
                height: 5px;
                background: $clr-mustard;
                width: 5px;
                border-radius: 30px;
                left: -10px;
                top: 8px;
            }
        }

        p {
            color: $clr-black;
            font-size: 16px;
            line-height: 25px;
        }

        h3 {
            color: $clr-mustard;
        }
    }
}

/*privacy-policy end*/

/*contact-css-start*/
.contactbanner.banner {
    background-image: url(../images/contactbanner.webp);
    position: relative;
}

/*contact-css-end*/

/*terms-conditon start*/
.terms__section.banner {
    background-image: url(../images/termsbanner.webp);
    margin-top: 0;
    isolation: isolate;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 450px;
    z-index: -1;

    &::after {
        height: 450px;
        z-index: -1;
    }
}

/*terms-conditon-end/


/*homebanner-css-start*/
.homebanner.banner {
    background-image: url(../images/homebanner.jpeg);
    height: 550px;
    position: relative;

    &::after {
        height: 550px;
    }
}

.homecard {
    padding-bottom: 50px;

    &-card {
        background: $clr-white;
        padding: 20px;
        height: 100%;
    }

    &-content {
        padding: 20px 0;
    }

    &-inner {
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        display: flex;

        p {
            color: $clr-black;
        }
    }
}

/*homebanner-css-end*/


/*casinohotel-css-start*/
.casinohotel.banner {
    background-image: url(../images/casinohotel-banner.jpg);
    position: relative;
}

.toptext {
    padding: 50px 0;

    p {
        color: $clr-black;
    }
}

.casinohotel {
    &-inner {
        p {
            color: $clr-black;

        }

    }

    &-card {
        img {
            height: 520px;
            object-fit: cover;
        }
    }

    &-inner {
        box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.07);
        background: $clr-white;
        padding: 20px;

        &:hover {
            background: $clr-creme;
        }
    }

    &-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: -82px;
    }
}

.casinohotelgap {
    margin-bottom: 25px;
}

/*casinohotel-css-end*/

/*bestroom-css-start*/
.besthotel.banner {
    background-image: url(../images/bestroom-banner.webp);
    position: relative;
}

/*bestroom-css-end*/
/*# sourceMappingURL=style.css.map */